.u-text-align-center {
  text-align: center;
  font-size: 16px; /* Reduzindo o tamanho da fonte do título */
  margin-bottom: 8px;
  font-weight: bold; /* Garantindo que o título esteja em negrito */
}
